input[type=text]:focus .popupMark {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    left: 10px;
    color: #555;
}

.pm-suggestions{
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.pm-suggestions div{
    padding: 5px;
}
